@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #272221;
  --background: #fff;
  --cardBg: #e2ddc6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background-start: 0, 0, 0;
    --background-end: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
}


h1,h2,h3,h4,h5,h6{
  font-family: 'Baloo_2', sans-serif;
  font-weight: 700;
}


